.extraSection {
  padding: 24px 0 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inlineFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.richTextGrid {
  column-count: 2;
  column-gap: 16px;
  > * {
    break-inside: avoid;
    margin-bottom: 16px;
    display: inline-block;
    width: 100%;
  }

  @media (max-width: 900px) {
    column-count: 1;
  }
}
.fullRow {
  width: 100%;
}