@use '../../../styles/variables' as *;

.field {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  label {
    font-weight: $font-weight-bold;
    color: $color-text-primary-light;
    font-size: $font-size-sm;
  }
}

.input {
  width: 100%;
  border: 1.2px solid $color-secondary-light;
  background: $color-background-alt-light;
  font-size: $font-size-md;
  border-radius: $border-radius-lg;
  padding: 0 $spacing-md;
  color: $color-text-primary-light;
  font-weight: $font-weight-medium;
  transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
  outline: none;
  margin-bottom: $spacing-sm;
  min-height: 40px;
  box-sizing: border-box;

  &::placeholder {
  color: $color-text-secondary-light;
    font-weight: $font-weight-normal;
    opacity: 1;
  }

  &:focus {
    border-color: $color-text-primary-light;
    box-shadow: 0 2px 8px 0 rgba(60,60,60,0.08);
    background: $color-background-light;
  }
}
