@use '../styles/variables' as *;
/* You can add global styles to this file, and also import other SCSS files */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  transition: background 0.2s, color 0.2s;
}


body {
  background-color: var(--color-background-light);
  color: var(--color-text-primary-light);
}

[data-theme='dark'] body {
  background-color: var(--color-background-dark);
  color: var(--color-text-primary-dark);
}

a {
  color: var(--color-accent-light);
}
[data-theme='dark'] a {
  color: var(--color-accent-dark);
}

// Add more global element color overrides as needed


